
<section>
	<div class="container mt-5 pt-5">
		<div class="row justify-content-center">
			<!-- left column for list of events -->
			<div class="col-md-6">
				<h3>Upcoming Events</h3>
				<!-- begin post item -->
				<div *ngFor="let post of posts" class="card">
					<div class="card-body">
						<h4 class="card-title">{{ post.postTitle }}</h4>
						<p class="card-text">{{ post.postContent }}</p>
						<div class="small text-muted">
							<p>
								Organization: {{ post.postWriter }}<br>
								Event Start Date: {{ post.postStartDateTime | date:'M/d/yy' }}<br>
								Event End Date: {{ post.postEndDateTime | date:'M/d/yy' }}
							</p>
						</div>
						<div class="btn-group-toggle" data-toggle="buttons">
							<label class="post-favorite btn btn-sm btn-outline-success">
								<input type="checkbox" checked autocomplete="off" class="btn-success"> Favorite
							</label>
						</div>
						<!--<button class="post-favorite btn btn-sm btn-outline-success">Favorite</button> -->
					</div>
				</div>
			</div>

			<!-- empty middle column for spacing -->
			<div class="col-lg-1"></div>

			<!-- right column for list of organizations -->
			<div class="col-md-5">
				<h3>Organizations</h3>
				<!-- begin organization item -->
				<div *ngFor="let organization of organizations" class="card">
					<div class="card-body">
						<h4 class="card-title">{{ organization.organizationName }}</h4>
						<p class="card-text">{{ organization.organizationAddressStreet }}<br>
							{{ organization.organizationAddressCity }}, {{organization.organizationAddressState}}  {{organization.organizationAddressZip }}</p>
						<p class="card-text">{{ organization.organizationPhone }}</p>
						<p class="card-text">Hours Open: {{ organization.organizationHoursOpen }}</p>
						<p class="card-text">Donations Accepted: {{ organization.organizationDonationAccepted }}</p>
					</div>
				</div>
			</div>
			<!-- end post item -->
		</div>
	</div>
</section>


