<navbar></navbar>

<section>
	<div class="container mt-5 pt-5">
		<div class="row justify-content-center">
			<!-- left column for list of organizations or list of favorited posts -->
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Intro</h2>
						<p class="card-text">Welcome to Feeding Our Past! We provide an easy to use resource that helps stop senior hunger in ABQ by connecting civic minded volunteers to community engagement partners who in turn serve food insecure seniors</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">What we are doing</h2>
						<p class="card-text"><p>Our website will allow seniors to search for food resources,volunteers to find organizations looking for workers and organizations to post event notices to recruit volunteers.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Why are we doing this</h2>
						<p class="card-text">The Road Runner Food Bank of New Mexico succinctly outlines the need for "Feeding Our Past" stating, "Seniors have said to us one of the first expenses they cut from their monthly expenses is food...seniors, limiting their food intake can drastically alter their health and significantly impact their quality of life."</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Problem Solution Fit</h2>
						<p class="card-text">There are dozens of community engagement partners working to solve senior hunger in Albuquerque. Almost </p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Next Steps</h2>
						<p class="card-text">Deploy an active site, add a </p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Challenges</h2>
						<p class="card-text">Grow the base of community engagement partners using the site. Additionally, we are seeking funding to cover basic hosting and business development expenses. We would love to partner with you. Contact Us!</p>
					</div>
				</div>
			</div>

			<!-- right column for list of posts -->
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Jeff Brink</h2>
						<p class="card-text">For all of your Visual, Front-End, and Security needs.</p>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Esteban Martinez</h2>
						<p class="card-text">Putting Successful Completion in Team Lead </p>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Jolynn Pruitt</h2>
						<p class="card-text">Project MVP</p>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Peter Street</h2>
						<p class="card-text">Team Anchor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
