<!DOCTYPE html>
<html lang="en">
	<body>
		<main>
		<section>
			<div class="container mt-5 pt-5 mb-5 pb-5">
				<div class="row justify-content-center">
					<!-- left column for list of organizations or list of favorited posts -->
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Intro</h2>
								<p class="card-text">Welcome to Feeding Our Past! We provide an easy to use web-site that helps mitigate senior hunger in Albuquerque by connecting civic minded volunteers with community engagement partners both of whom serve Albuquerque's food insecure seniors.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">What we are doing</h2>
								<p class="card-text"><p>Our website allows food insecure seniors to search for local food resources via a user friendly, mobile ready, google map enabled, UI/UX built on HTML, CSS, and Bootstrap. Organizations serving seniors can create an account, sign into their account, as well as post events and recruit volunteers. Volunteers can create and sign into an account as well as favorite posts they like. A PHP fronted SQL database houses the organization and volunteer information while Angular makes the site truly dynamic.
							</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Why are we doing this</h2>
								<p class="card-text">According to the City of Albuquerque, New Mexico seniors are 2nd in the nation in food insecurity, 13% of people who seek food assistance are senior citizens, and the number of food insecure seniors is projected to increase by 50% by 2025. The Road Runner Food Bank of New Mexico succinctly outlines the need for "Feeding Our Past" stating, "Seniors have said to us one of the first expenses they cut from their monthly expenses is food...seniors, limiting their food intake can drastically alter their health and significantly impact their quality of life."</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Problem Solution Fit</h2>
								<p class="card-text">In Albuquerque, there are dozens of community engagement partners, working to solve senior hunger. These Federal, State, national, local, and religious organizations have an on-line presence. Creating a dynamic easy to use web based resource providing a centralized repository of standardized information facilitates the mitigation of senior food insecurity.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Next Steps</h2>
								<p class="card-text">We have covered a lot of ground, in the last 6 weeks. Next we would like to deploy an active site, grow our community engagement partner participation, and create an a matching application. Ultimatly, we would like to formalize our business structure, create a growth based business plan, and penetrate major SouthWest MSA markets.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Challenges</h2>
								<p class="card-text">Grow the base of community engagement partners using the site. Additionally, we are seeking funding to cover basic hosting, application development, and business development expenses. We would love to partner with you. Please, Contact Us!</p>
							</div>
						</div>
					</div>

					<!-- right column for list of posts -->
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Jeffrey Brink</h2>
								<p class="card-text">(505) 385-9371 <br> JeffreyBrink@gmx.com <br> https://www.linkedin.com/in/jeffreybrink11/</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Esteban Martinez</h2>
								<p class="card-text">(575) 635-7840 <br> FullStackMartinez@gmail.com <br> https://www.linkedin.com/in/esteban-martinezabq/</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Jolynn Pruitt</h2>
								<p class="card-text">(505) 750-3791 <br> jo@tekiosolutions.com <br> https://www.linkedin.com/in/jolynn-pruitt/</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body text-center">
								<h2 class="card-title">Peter Street</h2>
								<p class="card-text">(505) 850-2105 <br> peterbstreet@gmail.com <br> https://www.linkedin.com/in/streetpeter/</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		</main>
	</body>
</html>