
<section>
	<div class="container mt-5 pt-5">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<!-- this is the google map :P~ -->
				<ngui-map zoom="11" center="Albuquerque, NM">
					<marker *ngFor="let organization of organizations" [position]="[organization.organizationLatX, organization.organizationLongY]" (click)="clicked($event)" (click)="displayOrg(organization)"></marker>
					<info-window id="org-details">
						<div class="map-text p-1 ml-1 text-center">
							<strong> {{ organization.organizationName }} </strong><br>
							{{ organization.organizationAddressStreet}}<br>
							{{ organization.organizationAddressCity }}, {{organization.organizationAddressState}}  {{organization.organizationAddressZip }}<br>
							{{ organization.organizationPhone }}
						</div>
					</info-window>
				</ngui-map>
			</div>

			<!-- right column for list of organizations -->
			<div class="col-lg-4">
				<div class="row justify-content-center mb-2">
				<h3>Organizations</h3>
				</div>
				<!-- begin organization item -->
				 <div *ngFor="let organization of organizations" class="card mb-4">
					<div class="card-body">
						<h4 class="card-title">{{ organization.organizationName }}</h4>
						<p class="card-text">{{ organization.organizationAddressStreet }}<br>
						{{ organization.organizationAddressCity }}, {{organization.organizationAddressState}}  {{organization.organizationAddressZip }}</p>
						<p class="card-text">{{ organization.organizationPhone }}</p>
						<p class="card-text">Hours Open: {{ organization.organizationHoursOpen }}</p>
						<p class="card-text">Donations Accepted: {{ organization.organizationDonationAccepted }}</p>
					</div>
				</div>
				<!-- end organization item -->

<!--				<div class="card mb-4">
					<div class="card-body text-center">
						<h2 class="card-title">Organization List</h2>
						<p class="card-text">This card will have list of organizations.</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
