
<div class="container p-5">
	<div class="row justify-content-center">
		<h2>Organization Sign-Up</h2>
	</div>
	<div class="col-lg-8 offset-lg-2">
		<form name="organizationSignUpForm" id="organizationSignUpForm" [formGroup]="organizationSignUpForm" (submit)="organizationSignUp();" class="form-horizontal" novalidate>
			<small id="formRequired" class="form-text text-danger">*Required fields</small>

			<div class="form-group">
				<label for="organizationName">Organization Name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationName" placeholder="Organization name" formControlName="organizationName">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationName?.invalid && organizationSignUpForm.controls.organizationName?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationName?.errors.maxlength">Organization name is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationName?.errors.required">Organization name is required</p>
			</div>

			<div class="form-group">
				<label for="organizationEmail">Email address <span class="text-danger">*</span></label>
				<input type="email" class="form-control" id="organizationEmail" aria-describedby="emailHelp"
						 placeholder="Enter email" formControlName="organizationEmail">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
				</small>
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationEmail?.invalid && organizationSignUpForm.controls.organizationEmail?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationEmail?.errors.maxlength">Organization email is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationEmail?.errors.required">Organization email is required</p>
			</div>

			<div class="form-group">
				<label for="organizationPassword">Password <span class="text-danger">*</span></label>
				<input type="password" class="form-control" id="organizationPassword" placeholder="Password" formControlName="organizationPassword">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationPassword?.invalid && organizationSignUpForm.controls.organizationPassword?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationPassword?.errors.maxlength">Organization password is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationPassword?.errors.required">Organization password is required</p>
			</div>

			<div class="form-group">
				<label for="organizationPasswordConfirm">Confirm password <span class="text-danger">*</span></label>
				<input type="password" class="form-control" id="organizationPasswordConfirm"
						 placeholder="Confirm password" formControlName="organizationPasswordConfirm">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationPasswordConfirm?.invalid && organizationSignUpForm.controls.organizationPasswordConfirm?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationPasswordConfirm?.errors.maxlength">Organization password is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationPasswordConfirm?.errors.required">Organization password is required</p>
			</div>

			<div class="form-group">
				<label for="organizationAddressStreet">Street Address <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationAddressStreet" placeholder="Street address" formControlName="organizationAddressStreet">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationAddressStreet?.invalid && organizationSignUpForm.controls.organizationAddressStreet?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationAddressStreet?.errors.maxlength">Organization street address is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationAddressStreet?.errors.required">Organization street address is required</p>
			</div>

			<div class="form-group">
				<label for="organizationAddressCity">City <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationAddressCity" placeholder="City" formControlName="organizationAddressCity">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationAddressCity?.invalid && organizationSignUpForm.controls.organizationAddressCity?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationAddressCity?.errors.maxlength">Organization city name is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationAddressCity?.errors.required">Organization city is required</p>
			</div>

			<div class="form-group">
				<label for="organizationAddressState">State <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationAddressState" placeholder="State" formControlName="organizationAddressState">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationAddressState?.invalid && organizationSignUpForm.controls.organizationAddressState?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationAddressState?.errors.maxlength">Organization state is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationAddressState?.errors.required">Organization state is required</p>
			</div>

			<div class="form-group">
				<label for="organizationAddressZip">Zip Code <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationAddressZip" placeholder="Zip code" formControlName="organizationAddressZip">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationAddressZip?.invalid && organizationSignUpForm.controls.organizationAddressZip?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationAddressZip?.errors.maxlength">Organization zip code is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationAddressZip?.errors.required">Organization zip code is required</p>
			</div>

			<div class="form-group">
				<label for="organizationPhone">Phone number <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationPhone" placeholder="xxx-xxx-xxxx" formControlName="organizationPhone">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationPhone?.invalid && organizationSignUpForm.controls.organizationPhone?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationPhone?.errors.maxlength">Organization phone number is too long</p>
				<p *ngIf="organizationSignUpForm.controls.organizationPhone?.errors.required">Organization phone number is required</p>
			</div>

			<div class="form-group">
				<label for="organizationHoursOpen">Days/Hours Open <span class="text-danger">*</span></label>
				<textarea class="form-control" rows="2" id="organizationHoursOpen" placeholder="Days/hours open" formControlName="organizationHoursOpen"></textarea>
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationHoursOpen?.invalid && organizationSignUpForm.controls.organizationHoursOpen?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationHoursOpen?.errors.maxlength">Sorry, your response exceeds are character limit.</p>
				<p *ngIf="organizationSignUpForm.controls.organizationHoursOpen?.errors.required">Organization hours of operation are required</p>
			</div>

			<div class="form-group">
				<label for="organizationDonationAccepted">Food donations accepted? <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="organizationDonationAccepted" placeholder="Yes or No" formControlName="organizationDonationAccepted">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationDonationAccepted?.invalid && organizationSignUpForm.controls.organizationDonationAccepted?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationDonationAccepted?.errors.maxlength">Sorry, your response exceeds are character limit.</p>
				<p *ngIf="organizationSignUpForm.controls.organizationDonationAccepted?.errors.required">Sorry, field is required is required</p>
			</div>

			<div class="form-group">
				<label for="organizationUrl">Website</label>
				<input type="text" class="form-control" id="organizationUrl" placeholder="Website address" formControlName="organizationUrl">
			</div>
			<div class="alert alert-danger" *ngIf="organizationSignUpForm.controls.organizationUrl?.invalid && organizationSignUpForm.controls.organizationUrl?.touched">
				<p *ngIf="organizationSignUpForm.controls.organizationUrl?.errors.maxlength">Organization website URL is too long</p>
			</div>

			<button type="submit" id="submit" name="organizationSignUp" class="btn btn-primary">Submit</button>
			<!-- <pre>{{ organizationSignUpForm.value | json }}</pre> -->
		</form>
	</div>

	<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
		<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
			aria-hidden="true">&times;</span></button>
		{{ status.message }}

	</div>
</div>