<navbar></navbar>

<section>
	<div class="container mt-5 pt-5">
		<div class="row justify-content-center">
			<!-- left column for new post form -->
			<div class="col-lg-5">
				<h3>Create a New Event Post</h3>
				<form id="createPostForm" name="createPostForm" [formGroup]="createPostForm" (submit)="createPost();" class="form-horizontal" novalidate>
					<small id="formRequired" class="form-text text-danger">*Required fields</small>

					<!-- post title group -->
					<div class="form-group">
						<label for="postTitle">Event Title <span class="text-danger">*</span></label>
						<input type="text" formControlName="postTitle" class="form-control" id="postTitle" placeholder="Title of event">
						<div *ngIf="createPostForm.controls.postTitle?.invalid && createPostForm.controls.postTitle?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postTitle?.errors.required">Title is required.</div>
							<div *ngIf="createPostForm.controls.postTitle?.errors.maxlength">Title is too long. {{createPostForm.controls.postTitle?.errors.maxlength.actualLength - createPostForm.controls.postTitle?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- post start date group -->
					<div class="form-group">
						<label for="postStartDateTime">Event Start Date <span class="text-danger">*</span></label>
						<input type="text" formControlName="postStartDateTime" class="form-control" id="postStartDateTime" placeholder="Start date">
						<div *ngIf="createPostForm.controls.postStartDateTime?.invalid && createPostForm.controls.postStartDateTime?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postStartDateTime?.errors.required">Start Date is required.</div>
							<div *ngIf="createPostForm.controls.postStartDateTime?.errors.maxlength">Start Date is too long. {{createPostForm.controls.postStartDateTime?.errors.maxlength.actualLength - createPostForm.controls.postStartDateTime?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- post end date group -->
					<div class="form-group">
						<label for="postEndDateTime">Event End Date <span class="text-danger">*</span></label>
						<input type="text" formControlName="postEndDateTime" class="form-control" id="postEndDateTime" placeholder="End date">
						<div *ngIf="createPostForm.controls.postEndDateTime?.invalid && createPostForm.controls.postEndDateTime?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postEndDateTime?.errors.required">End Date is required.</div>
							<div *ngIf="createPostForm.controls.postEndDateTime?.errors.maxlength">End Date is too long. {{createPostForm.controls.postEndDateTime?.errors.maxlength.actualLength - createPostForm.controls.postEndDateTime?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- post content group -->
					<div class="form-group">
						<label for="postContent">Event Description <span class="text-danger">*</span></label>
						<textarea class="form-control" rows="10" id="postContent" formControlName="postContent" placeholder="Description of event"></textarea>
						<div *ngIf="createPostForm.controls.postContent?.invalid && createPostForm.controls.postContent?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postContent?.errors.required">Content is required.</div>
							<div *ngIf="createPostForm.controls.postContent?.errors.maxlength">Content is too long. {{createPostForm.controls.postContent?.errors.maxlength.actualLength - createPostForm.controls.postContent?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- post image url group -->
<!--					<div class="form-group">
						<label for="postImageUrl">Image?? </label>
						<input type="text" class="form-control" id="postImageUrl" placeholder="URL for image??">
						<div *ngIf="createPostForm.controls.postImageUrl?.invalid && createPostForm.controls.postImageUrl?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postImageUrl?.errors.maxlength">Image URL is too long. {{createPostForm.controls.postImageUrl?.errors.maxlength.actualLength - createPostForm.controls.postImageUrl?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div> -->
					<button type="submit" class="btn btn-primary">Submit</button>
					<!-- <pre>{{ organizationSignUpForm.value | json }}</pre> -->
				</form>
			</div>

			<!-- empty middle column for spacing -->
			<div class="col-lg-1"></div>

			<!-- right column for event posts -->
			<div class="col-md-6 mt-5">
				<h2>Upcoming Events</h2>
				<!-- begin post item -->
				<div *ngFor="let post of posts" class="card">
					<div class="card-body">
						<h4 class="card-title">{{ post.postTitle }}</h4>
						<p class="card-text">{{ post.postContent }}</p>
						<div class="small text-muted">
							<p>
								Organization: {{ post.postWriter }}<br>
								Event Start Date: {{ post.postStartDateTime | date:'M/d/yy' }}<br>
								Event End Date: {{ post.postEndDateTime | date:'M/d/yy' }}
							</p>
						</div>
						<button class="post-delete btn btn-sm btn-danger">Delete</button>
					</div>
				</div>
				<!-- end post item -->
			</div>
		</div>
	</div>
</section>
