<phpunit>
	<testsuites>
		<testsuite name="Feed Kitty Project">
			<!-- <file>HaversineTest.php</file> -->
			 <file>OrganizationTest.php</file>
			<!-- <file>VolunteerTest.php</file> -->
			<!-- <file>PostTest.php</file> -->
			<!-- <file>FavoriteTest.php</file> -->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>