
<main>
	<div class="container bg-info">
		<div class="row" style="padding-top:  150px">
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body bg-white">
						<h1 class="card-title">Organizations</h1>
						<p class="card-text text-muted">Sign up your organization to reach people in your area that either need assistance or want to help.  What you do for your community is vital and necessary.  Team with us to spread the good works.</p>



						 <input type="button" routerLink="../organization-sign-up" value="Sign up"/>
						<input type="button" routerLink="../organization-sign-in" value="Sign in"/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body bg-white text-center">
						<h1 class="card-title">Seniors</h1>
						<p class="card-text">If you need help, please click here.  Available help will be listed for you on an easy to use google map.</p>
						<input type="button" routerLink="../senior" value="Find Help"/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body bg-white text-right">
						<h1 class="card-title">Volunteers</h1>
						<p class="card-text text-muted">If you are looking to give back to your community, please become a volunteer. By signing up and finding organizations in your area that need help, you are making a difference for Albuquerque Seniors.</p>
						<input type="button" routerLink="../volunteer-sign-up" value="Sign up"/>
						<input type="button" routerLink="../volunteer-sign-in" value="Sign in"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<!-- begin post item -->
					<div *ngFor="let post of posts" class="card">
						<div class="card-body">
							<h4 class="card-title">{{ post.postTitle }}</h4>
							<p class="card-text">{{ post.postContent }}</p>
							<div class="small text-muted">
								<p>
									Organization: {{ post.postWriter }}<br>
									Event Start Date: {{ post.postStartDateTime | date:'M/d/yy' }}<br>
									Event End Date: {{ post.postEndDateTime | date:'M/d/yy' }}
								</p>
							</div>
						</div>
					</div>
					<!-- end post item -->
				</div>
			</div>
		</div>
	</section>
</main>

