<navbar></navbar>

<div class="container">
	<div class="text-center">
		<h2>Organization: Sign In to your account</h2>
	</div>
	<form #organizationSignInForm="ngForm" class="form-horizontal" name="organizationSignInForm" novalidate
			(ngSubmit)="organizationSignIn();">

		<!-- username here -->
		<div class="form-group">
			<label for="inputEmail">Email address</label>
			<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter organization email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary">Log in</button>
		</div>
	</form>
	<h6 class="text-center mt-2"><em>Not yet registered?</em>| <a href=""><strong>Sign Up</strong></a> </h6>
</div>